html {
    background-color: #F37970;
}

nav {
    background-color: #E43D40;
}

h2,
h3 {
    color: white;
}

nav img {
    margin-top: 6px;
    width: 80px;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../icons/material-design-icons/font/MaterialIcons-Regular.codepoints);
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(../icons/material-design-icons/font/MaterialIconsOutlined-Regular.otf) format('otf'),
        url(../icons/material-design-icons/font/MaterialIconsRound-Regular.otf) format('otf'),
        url(../icons/material-design-icons/font/MaterialIconsSharp-Regular.otf) format('otf'),
        url(../icons/material-design-icons/font/MaterialIcons-Regular.ttf) format('truetype')
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 54px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smooting: grayscale;
    font-feature-settings: 'liga';
}

.profile-icon {
    width: 50px;
}

.dropdown-trigger {
    height: 64px;
}

.page-footer {
    background-color: #E43D40;
}

.card.small {
    width: 300px;
}

.carousel {
    margin-top: 30px;
}

/*
 *  Estilo tela de login
*/

.fields {
    padding: 64px;
    display: grid;
}

.fields img {
    margin: auto;
    width: 120px;
}

.input-field label {
    color: white;
}

input[type=email]:not(.browser-default) {
    border-bottom: 1px solid white;
}

input[type=email]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 #F37970;
}

input[type=email]:not(.browser-default):focus:not([readonly])+label {
    color: white;
}

input[type=password]:not(.browser-default) {
    border-bottom: 1px solid white;
}

input[type=password]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 #F37970;
}

input[type=password]:not(.browser-default):focus:not([readonly])+label {
    color: white;
}

input[type=text]:not(.browser-default) {
    border-bottom: 1px solid white;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 #F37970;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: white;
}

.btn-small {
    background-color: #E43D40;
    margin: auto;
    width: 110px;
}